<!--
    * Name: Ryan DiRezze
    * HW Assignment: Website Project - Consulting Services Company
    * File Description: '500 Error' Web Page
    * Due Date: May 26, 2019 (05/26/2019)
-->

<h1>500 error... Please try again or make sure you are visiting the correct URL...</h1>
<br /><br />

<h3>Error</h3>
{{error}}