<!--
    * Name: Ryan DiRezze
    * HW Assignment: Website Project - Consulting Services Company
    * File Description: 'About Us' Web Page with Founder, President, and CEO Bio
    * Due Date: May 26, 2019 (05/26/2019)
-->

<br /><br />

<!-- 
    grouped web page content within this 'div' container to help 
    with padding/buffer between web page content & the edge of the screen 
 -->
<div class="normalParagraph">
    <!-- web page's header/heading -->
    <h2>About Us</h2>
    <br />
    
    <!-- text (paragraph) content that describes Jenn and her background -->
    <p>
        Jennifer (Jen) Taborek resides in the metro-Pittsburgh, Pennsylvania, area, where she lives with her loving husband, 
        Thomas (Tom), and two of her children, Thomas and Emma. Jen's eldest daughter, Samantha (Sam), currently lives in the 
        metro-Seattle, Washington, area, where Sam and her long-term boyfriend, Ryan, happily live. 
        
        <br /><br />
        
        Welcome to my business page. I love crafting and creating unique items. I am just getting started with this page so please feel free to share suggestions or recommendations. 
        If you are looking for something special but don’t see it here, please contact me. I love creating one of a kind custom orders. 
        I accept Pay Pal, Venmo, checks, and good ole fashion cash. I offer free local pick up and discounted shipping if you purchase more than one like item. 
        For all custom orders I do require payment in full once the mock up is approved. Once approved and created, I cannot offer refunds. 
        I strive for 100% customer satisfaction but, things happen. If you are not 100% satisfied with your order, please contact me so we can work together to resolve it. If you are happy with your purchase, please leave a review and tell your friends. 
        <br /><br />

        I try to add new items as they are created so please check back often.
        <br /><br />
        
        Thank you for stopping by. Hope to see you again soon!
    </p>
</div>