<!--
    * Name: Ryan DiRezze
    * Website: Taborek Treasures
-->

<div class="jumbotron">
    <h2 class="display-3">Account Register</h2>
    <form method="post" action="/users/register">
        <div class="form-group">
            <label>Username</label>
            <input name="username" type="text" class="form-control" placeholder="Username...">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password...">
        </div>
        <div class="form-group">
            <label>Re-Enter Password</label>
            <input name="password2" type="password" class="form-control" placeholder="Password...">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="text" class="form-control" placeholder="Email...">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>