<!--
    * Name: Ryan DiRezze
    * Website: Taborek Treasures
-->

<!-- add Bootstrap's "Jumbotron" styling -->
<div class="jumbotron">
    <h1 class="display-3">Online Marketplace</h1>

    <br />

    <!-- beginning of a list of item/product cards for each item within the store -->
    <div class="card">
        <img src="../masonjar_uncapped.JPG" alt="Mason Jar" style="width:100%">
        <h1>Mason Jar</h1>
        <p class="price">$14.99</p>
        <p>Some text about mason jars...</p>
        <p><button>Add to Cart</button></p>
    </div>
</div>