<article class="twit">
   <div class="twit-icon">
     <i class="fa fa-bullhorn"></i>
   </div>
   <div class="twit-content">
      {{#each text}}
        <p class="twit-text">
          {{this}}
        </p>
      {{/each}}
     <p class="twit-attribution">
         {{#each author}}
            <a href="#">{{this}}</a>
         {{/each}}
     </p>
   </div>
</article>
